<h2>Edit Comment</h2>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

  <label for="comment[commenter]">Commenter:</label>
  <input name="comment[commenter]" value="<%= @comment.commenter %>">

  <label for="comment[comment_content]">Album:</label>
  <input name="comment[comment_content]" value="<%= @comment.comment_content %>">

  <label for="comment[post_id]">Post ID:</label>
  <input name="comment[post_id]" value="<%= @comment.post_id %>">

  <input type="submit" value="Create">
</form>

<form action="/comments/<%= @comment.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
