<h3>Author: <%= @user.username %></h3>
<h4>Post: <%= @post.post_content %></h4>
<p><%= link_to("(edit)", edit_post_path(@post))%></p>

<h3>Comments</h3>
<p>
  <% @post.comments.each do |comment|%>

  <ul>Commenter: <%= @user.username %></ul>
  <ul><%= "Comment: #{comment.comment_content}" %></ul>
  <ul><%= "Posted: #{time_ago_in_words(comment.created_at)} ago" %></ul>

  <%= form_for([@post, comment], method: :delete) do |f| %>
  <%= f.submit "Delete Comment" %>
  <% end  %>

  <br>

  <% end %>
</p>

<p>
<%= form_for([@post, Comment.new]) do |f| %>

  <%= f.label :comment_content, "Reply Here:" %>
  <br>
  <%= f.text_area :comment_content %>

  <%= f.submit "Add Comment" %>
<% end  %>
</p>
